<!--
# File: templates/base.html
# your name: Jana Mikaela Aguilar
# your email: janamha@bu.edu
# Description: Write html code this to create a standard 
HTML tag for general formatting
-->

<html>
    <head>
        <title>Mini Facebook</title>
    </head>
    <body>
    <header>
        <a href="{% url 'show_all_profiles' %}">Show All Profiles</a> |
        <a href="{% url 'create_profile' %}">Create New Profile</a> |
    </header>
    <hr>

    {% block content %}
    {% endblock %}
    </body>
</html>