<!--
# File: templates/show_news_feed.html
# your name: Jana Mikaela Aguilar
# your email: janamha@bu.edu
# Description: Write html code this to display news feed items
-->
{% extends 'mini_fb/base.html' %}

{% block content %}

<a href="{% url 'show_profile_page' pk=profile.pk %}">Back to {{profile.first_name}}'s Profile</a> 
<h2>News Feed</h2>
<table>
    <colgroup>
        <col span="1" style="width: 15%">
        <col span="1" style="width: 15%">
    </colgroup>
    {% for m in profile.get_news_feed %}
        <tr>
            <td>
                {{m.timestamp}}
            </td>
            <td>
                <a href="{% url 'show_profile_page' pk=m.profile.pk %}">{{m.profile.first_name}} {{m.profile.last_name}}</a>
            </td>
            <td>
                {% if m.image %}
                    <img src='{{m.image.url}}' style='max-width: 200;'>
                {% endif %}
                {{m.message}}
            </td>
        </tr>
    {% endfor %}
</table> 

{% endblock %}
