<!--
# File: templates/show_profile_page.html
# your name: Jana Mikaela Aguilar
# your email: janamha@bu.edu
# Description: Write html code this to show info of a specific profile
-->
{% extends 'mini_fb/base.html' %}

{% block content %}
<center>
    <h1>{{profile.first_name}} {{profile.last_name}}<br></h1>
    <img src="{{profile.image_url}}" style="max-width: 400;"><br>
    <h4><a href="{% url 'update_profile' profile.pk %}">Edit this profile</a></h4>
    <h4><a href="{% url 'news_feed' profile.pk %}">{{profile.first_name}}'s News Feed</a></h4>
    <h4><a href="{% url 'show_possible_friends' profile.pk %}">Find Friends</a></h4>

</center>
{{profile.email}} <br>
{{profile.city}} <br>
<br>

<h3>Create Status Message</h3>

<form method="POST" action="/mini_fb/profile/{{profile.pk}}/post_status" 
enctype="multipart/form-data">
    <!-- HTTP POST to send data to the server -->
    {% csrf_token %}
    
    <table>
    {{create_status_form.as_table}} <!-- table-style formatting -->
    <tr>
        <td></td> <!-- empty! -->
        <td><input type="submit" value='Post Status Message'></td>
    </tr>
    </table>
    
</form>
<h2>Friends</h2>
{% if profile.get_friends %}
    <table>
        <colgroup>
            <col span="1" style="width: 15%">
            <col span="1" style="width: 15%">
        </colgroup>
        {% for f in profile.get_friends %}
            <tr>
                <td>
                    <a href="{% url 'show_profile_page' pk=f.pk %}">{{f.first_name}} {{f.last_name}}</a>
                </td>
                <td>
                    <img src='{{f.image_url}}' style='max-width: 200;'>
                </td>
            </tr>
        {% endfor %}
    </table> 
{% else %}
{{profile.first_name}} doesn't have any friends.
{% endif %}

<h2>Status Messages</h2> <br>

<table>
    <colgroup>
        <col span="1" style="width: 15%">
        <col span="1" style="width: 15%">
    </colgroup>
    <tr>
        <th><h3>Timestamp</h3></th>
        <th><h3>Message</h3></th>
    </tr>
    {% for m in profile.get_status_messages %}
        <tr>
            <td>
                {{m.timestamp}}
            </td>
            <td>
                {% if m.image %}
                <img src='{{m.image.url}}' style='max-width: 200;'>
                {% endif %}
                {{m.message}}
            </td>
            <td>
                <a href="{% url 'delete_status' profile_pk=profile.pk status_pk=m.pk %}">Delete</a> |
            </td>
        </tr>
    {% endfor %}
</table> 

{% endblock %}